/* Set custom CSS variables */
:root{
    --brand-orange: #ff8b04;
    --brand-light-blue: #9fcdff;
    --brand-dark-blue: #5284ff;
  }
  
/* Override Bootstrap Defaults */
.btn-primary {
--bs-btn-color: #fff;
--bs-btn-bg: var(--brand-orange);
--bs-btn-border-color: var(--brand-orange);
--bs-btn-hover-color: #fff;
--bs-btn-hover-bg: #222;
--bs-btn-hover-border-color: #444;
--bs-btn-focus-shadow-rgb: 49,132,253;
--bs-btn-active-color: #fff;
--bs-btn-active-bg: var(--brand-orange);
--bs-btn-active-border-color: var(--brand-orange);
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-btn-disabled-color: #fff;
--bs-btn-disabled-bg: var(--brand-orange);
--bs-btn-disabled-border-color: var(--brand-orange);
}

/* General Styling */

body {
  background-color: #eee;
}

/* NavBar */

.nav-link:hover {
  color: var(--brand-orange);
}

/* Cards Post View */

.card-body {
  padding: 0;
}

.card-img-top {
  height: 22rem;
  object-fit: contain;
}

.card-link {
  text-decoration: none;
  color: #333;
  transition: color ease-in .2s;
}

.card-link:hover {
  color: var(--brand-orange);
}

.card-author {
  color: var(--brand-orange);
}

.featured-ribbon {
  position: absolute;
  width: 8rem;
  height: 8Srem;
}

/* Hero Image */

#hero-container {
  height: 80vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#hero-container:before {
  content: "";
  position: absolute;
  top: 76px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212529;
  opacity: 0.7;
  height: 80vh;
  width: 100vw;
}

#hero-text {
  z-index: 1;
}

/* Post Detail view styling */

#post-main-img img {
  max-height: 50vh;
}

/* Add/Edit Post form styling */
form .form-group {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}
