/* Set custom CSS variables */
:root{
    --brand-orange: #ff8b04;
    --brand-light-blue: #9fcdff;
    --brand-dark-blue: #1f5eff;
  }

/* General Styling */

body {
  background-color: #eee;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.word-wrap-break {
  word-wrap: break-word;
}

/* NavBar */

.nav-link:hover {
  color: var(--brand-orange);
}

/* Hero Image */

#hero-container {
  height: 80vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #333;
  background-blend-mode: overlay;
}

/* Posts/Builds Thumbnail List */

.card-body {
  padding: 0;
}

.card-img-link {
  overflow: hidden;
}

.card-img-top {
  height: 22rem;
  object-fit: contain;
  transition: all .3s;
}

.card-img-top:hover {
  transform: scale(1.2);
}

.card-title, .card-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-link {
  text-decoration: none;
  color: #333;
  transition: color ease-in .2s;
}

.card-link:hover {
  color: var(--brand-orange);
}

.card-author {
  color: #333;
}

.featured-ribbon {
  position: absolute;
  width: 8rem;
  height: 8rem;
  z-index: 2;
}

/* Post Detail View */

#post-main-img img {
  max-height: 50vh;
}

#post-title-buttons {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Add/Edit Post Form */
form .form-group {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
