{% extends 'base.html' %} 

{% block title %}Edit Your Build{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

{% if user.id == post.author.id %}

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto my-3">
            <h3>Edit your Post:</h3>
            <form class="my-5" method="POST" enctype="multipart/form-data">
                {{ post_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mt-3 float-end">Submit</button>
            </form>
        </div>
    </div>
</div>

{% else %}

<div class="container">
    <div class="row">
        <div class="col-md-12 my-3">
            <h3>You cannot edit this post</h3>
        </div>
    </div>
</div>

{% endif %}

{% endblock content %}