{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero image -->
<div id="hero-container" class="row align-items-center text-center text-white" style="background-image: url(https://res.cloudinary.com/dfnacox6p/image/upload/v1688141044/static/img/hero-image.6f8629b9c52c.webp);">
    <div id="hero-text" class="col-8 mx-auto">
        <h1 class="display-4 mb-4">Welcome to Computer System Showcase!</h1>
        <h3 class="">The best place to check out and share your own PC builds!</h3>
        <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#post-list" role="button" aria-label="Go to post list section">See Builds</a>
    </div>
</div>

<!-- Post list -->
<div class="container">
    <div class="row">
        <div id="post-list" class="col-12">
            <h2 class="col-10 offset-1 text-center mt-5 mb-3">EXPLORE BUILDS!</h2>
            <hr>
            <div class="row mt-4">
            {% for post in post_list %}
                <div id="post-thumb" class="col-lg-3">
                    <div class="card mb-4">
                        <a href="{% url 'post_detail' post.slug %}" class="card-img-link" aria-label="Go to post detail page">
                            <!-- Show featured ribbon if post is featured by admin -->
                            {% if post.featured_post %}
                            <div><img class="featured-ribbon" src="https://res.cloudinary.com/dfnacox6p/image/upload/v1684849798/featured-ribbon_mszi26.png" alt="featured ribbon for post thumbnail"></div>
                            {% endif %}
                            <!-- Show placeholder image if main image is not available -->
                            {% if "placeholder" in post.main_image.url %}
                            <img src="https://res.cloudinary.com/dfnacox6p/image/upload/v1684860661/card-placeholder_kan0ph.webp" class="card-img-top bg-white" alt="placeholder image for post thumbnail">
                            {% else %}
                            <img src="{{ post.main_image.url }}" class="card-img-top bg-dark" alt="main image for post thumbnail">
                            {% endif %}
                        </a>
                        <div class="card-body mx-3">
                            <div class="card-title my-2">
                                <a href="{% url 'post_detail' post.slug %}" class="card-link">
                                    <h3 class="d-inline" aria-label="Go to post detail page">{{ post.title }}</h3>
                                </a>
                            </div>
                            <div class="d-flex my-2">
                                <p class="card-text text-muted col-9">by: <span class="card-author d-inline">{{ post.author }}</span></p>
                                <!-- Like buttons/icon -->
                                {% if user.is_authenticated %}
                                <form class="col-3" action="{% url 'post_like' post.slug %}" method="POST">
                                    {% csrf_token %}
                                    {% if user in post.likes.all %}
                                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn btn-primary btn-sm float-end" aria-label="Like/Unlike post">
                                        <i class="fa-solid fa-thumbs-up"> {{ post.number_of_likes }}</i>
                                    </button>
                                    {% else %}
                                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn btn-primary btn-sm float-end">
                                        <i class="fa-regular fa-thumbs-up" aria-label="Like/Unlike post"> {{ post.number_of_likes }}</i>
                                    </button>
                                    {% endif %}
                                </form>
                                {% else %}
                                <p class="card-likes col-3 text-end">
                                    <i class="fa-regular fa-thumbs-up"> {{ post.number_of_likes }}</i>
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Previous/Next page buttons if results has more than one page -->
    {% if is_paginated %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}#post-list" class="btn btn-primary" aria-label="Previous page of posts">&laquo; PREV </a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}#post-list" class="btn btn-primary" aria-label="Next page of posts"> NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

{% endblock %}