{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <!-- Posts Column -->
        <div class="col-12 mt-3">
            <div class="row">
            {% for post in post_list %}
                <div class="col-lg-3">
                    <div class="card mb-4">
                        {% if "placeholder" in post.main_image.url %}
                        <img src="https://res.cloudinary.com/dfnacox6p/image/upload/v1684860661/card-placeholder_kan0ph.webp" class="card-img-top bg-white">
                        {% else %}
                        <img src="{{ post.main_image.url }}" class="card-img-top bg-dark">
                        {% endif %}
                        <div class="card-body m-3">
                            <a href="#" class="card-link"><h2>{{ post.title }}</h2></a>
                            <p class="card-text text-muted d-inline">by: <span class="card-author">{{ post.author }}</span></p>
                            <i class="fa-regular fa-thumbs-up float-end"> {{ post.number_of_likes }}</i>
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}