{% extends 'base.html' %} 

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <!-- Main Image/Placeholder -->
        <div id="post-main-img" class="col-10 mx-auto my-3 bg-dark text-center rounded">
            {% if "placeholder" in post.main_image.url %}
            <img src="https://res.cloudinary.com/dfnacox6p/image/upload/v1684860661/card-placeholder_kan0ph.webp" class="img-fluid  bg-white">
            {% else %}
            <img src="{{ post.main_image.url }}" class="img-fluid">
            {% endif %}
        </div>
    </div>

    <!-- Title, Author & Like counter -->
    <div class="row">
        <div class="col-10 d-flex justify-content-between align-items-center mb-3 mx-auto rounded">
            <div class="my-2">
                <h3 class="d-inline me-2">{{ post.title }}</h3>
                <p class="d-inline text-muted"> by: <span class="card-author">{{ post.author }}</span></p>
                {% if user.id == post.author.id %}
                <a class="btn btn-sm btn-primary" href="{% url 'edit_post' post.slug %}">EDIT</a>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn btn-primary"><i class="fa-solid fa-thumbs-up"> {{ post.number_of_likes }}</i></button>
                {% else %}
                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn btn-primary"><i class="fa-regular fa-thumbs-up"> {{ post.number_of_likes }}</i></button>
                {% endif %}
            </form>
            {% else %}
            <i class="fa-regular fa-thumbs-up"> {{ post.number_of_likes }}</i>
            {% endif %}
        </div>
    </div>

    <!-- Post Body & Parts List -->

    <div class="row">
        <div class="col-10 bg-white mx-auto mb-3 rounded">
            <!-- Body -->
            <div id="post-body" class="m-3">
                <h3>Description</h3>
                <p>{{ post.body | safe }}</p>
            </div>

            <hr>
            <!-- Parts List -->
            <div id="post-parts-list" class="row m-1">
                <h3>Parts List</h3>
                <ul class="col-4 list-group list-group-flush w-100">
                    <li class="d-flex justify-content-between list-group-item list-group-item-light">
                        <p class="col-4 d-inline my-1">Processor</p>
                        <p class="col-8 d-inline my-1">{{ post.processor }}</p>
                    </li>
                    <li class="d-flex justify-content-between list-group-item">
                        <p class="col-4 d-inline my-1">Cooler</p>
                        <p class="col-8 d-inline my-1">{{ post.cooler }}</p>
                    </li>
                    <li class="d-flex justify-content-between list-group-item list-group-item-light">
                        <p class="col-4 d-inline my-1">Motherboard</p>
                        <p class="col-8 d-inline my-1">{{ post.motherboard }}</p>
                    </li>
                    <li class="d-flex justify-content-between list-group-item">
                        <p class="col-4 d-inline my-1">Memory</p>
                        <p class="col-8 d-inline my-1">{{ post.memory }}</p>
                    </li>
                    <li class="d-flex justify-content-between list-group-item list-group-item-light">
                        <p class="col-4 d-inline my-1">Storage</p>
                        <p class="col-8 d-inline my-1">{{ post.storage }}</p>
                    </li>
                    <li class="d-flex justify-content-between list-group-item">
                        <p class="col-4 d-inline my-1">Graphics Card</p>
                        <p class="col-8 d-inline my-1">{{ post.graphics_card }}</p>
                    </li>
                    <li class="d-flex justify-content-between list-group-item list-group-item-light">
                        <p class="col-4 d-inline my-1">Case</p>
                        <p class="col-8 d-inline my-1">{{ post.case }}</p>
                    </li>
                    <li class="d-flex justify-content-between list-group-item">
                        <p class="col-4 d-inline my-1">Power Supply</p>
                        <p class="col-8 d-inline my-1">{{ post.power_supply }}</p>
                    </li>
                    <li class="d-flex justify-content-between list-group-item list-group-item-light">
                        <p class="col-4 d-inline my-1">Operating System</p>
                        <p class="col-8 d-inline my-1">{{ post.operating_system }}</p>
                    </li>
                    <li class="d-flex justify-content-between list-group-item">
                        <p class="col-4 d-inline my-1">Additional Parts</p>
                        <p class="col-8 d-inline my-1">{{ post.additional_parts }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Comment Form (if logged in) -->
    {% if commented %}
    <div class="row">
        <div class="col-md-10 mx-auto alert alert-success">
            Your comment is awaiting approval
        </div>
    </div>
    
    {% else %}
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-10 mx-auto my-3">
            <h3>Leave a comment:</h3>
            <form method="post">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mt-3 float-end">Submit</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% endif %}

    <!-- Comments -->
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h3>Comments</h3>
            <hr>
            <div id="comments">
                {% for comment in comments %}
                <div class="comment bg-light rounded p-3">
                    <p class="d-inline fw-bold card-author">{{ comment.author }}</p>
                    <p class="d-inline fw-light"> wrote:</p>
                    <p >{{ comment.body | linebreaks }}</p>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}