{% extends 'base.html' %} 

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <!-- Main Image/Placeholder -->
        <div id="post-main-img" class="col-10 mx-auto my-3 bg-dark text-center rounded">
            {% if "placeholder" in post.main_image.url %}
            <img src="https://res.cloudinary.com/dfnacox6p/image/upload/v1684860661/card-placeholder_kan0ph.webp" class="img-fluid  bg-white">
            {% else %}
            <img src="{{ post.main_image.url }}" class="img-fluid">
            {% endif %}
        </div>
    </div>

    <!-- Title, Author & Like counter -->
    <div class="row">
        <div class="col-10 d-flex justify-content-between align-items-center mb-3 mx-auto rounded">
            <div id="post-title-buttons" class="my-2">
                <h3 class="d-inline me-2">{{ post.title }}</h3>
                <p class="d-inline text-muted"> by: <span class="card-author">{{ post.author }}</span></p>
                {% if user.id == post.author.id %}
                <a class="btn btn-sm btn-primary" href="{% url 'edit_post' post.slug %}">EDIT</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deletePostModal">
                        DELETE
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="deletePostModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="deletePostModalLabel">Are you sure you want to delete this post?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            This action cannot be undone.
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a class="btn btn-danger" href="{% url 'delete_post' post.slug %}">DELETE</a>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn btn-primary"><i class="fa-solid fa-thumbs-up"> {{ post.number_of_likes }}</i></button>
                {% else %}
                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn btn-primary"><i class="fa-regular fa-thumbs-up"> {{ post.number_of_likes }}</i></button>
                {% endif %}
            </form>
            {% else %}
            <i class="fa-regular fa-thumbs-up"> {{ post.number_of_likes }}</i>
            {% endif %}
        </div>
    </div>

    <!-- Post Body & Parts List -->

    <div class="row">
        <div class="col-10 bg-white mx-auto mb-3 rounded">
            <!-- Body -->
            <div id="post-body" class="m-3">
                <h3>Description</h3>
                <p>{{ post.body | safe }}</p>
            </div>

            <hr>
            <!-- Parts List -->
            <div id="post-parts-list" class="row m-1">
                <h3>Parts List</h3>
                <ul class="col-4 list-group list-group-flush w-100">
                    <li class="d-flex flex-column flex-sm-row justify-content-between list-group-item list-group-item-light">
                        <p class="col-sm-4 my-1 fw-bold">Processor</p>
                        <p class="col-sm-8 my-1 word-wrap-break">{{ post.processor }}</p>
                    </li>
                    <li class="d-flex flex-column flex-sm-row justify-content-between list-group-item">
                        <p class="col-sm-4 my-1 fw-bold">Cooler</p>
                        <p class="col-sm-8 my-1 word-wrap-break">{{ post.cooler }}</p>
                    </li>
                    <li class="d-flex flex-column flex-sm-row justify-content-between list-group-item list-group-item-light">
                        <p class="col-sm-4 my-1 fw-bold">Mother&shy;board</p>
                        <p class="col-sm-8 my-1 word-wrap-break">{{ post.motherboard }}</p>
                    </li>
                    <li class="d-flex flex-column flex-sm-row justify-content-between list-group-item">
                        <p class="col-sm-4 my-1 fw-bold">Memory</p>
                        <p class="col-sm-8 my-1 word-wrap-break">{{ post.memory }}</p>
                    </li>
                    <li class="d-flex flex-column flex-sm-row justify-content-between list-group-item list-group-item-light">
                        <p class="col-sm-4 my-1 fw-bold">Storage</p>
                        <p class="col-sm-8 my-1 word-wrap-break">{{ post.storage }}</p>
                    </li>
                    <li class="d-flex flex-column flex-sm-row justify-content-between list-group-item">
                        <p class="col-sm-4 my-1 fw-bold">Graphics Card</p>
                        <p class="col-sm-8 my-1 word-wrap-break">{{ post.graphics_card }}</p>
                    </li>
                    <li class="d-flex flex-column flex-sm-row justify-content-between list-group-item list-group-item-light">
                        <p class="col-sm-4 my-1 fw-bold">Case</p>
                        <p class="col-sm-8 my-1 word-wrap-break">{{ post.case }}</p>
                    </li>
                    <li class="d-flex flex-column flex-sm-row justify-content-between list-group-item">
                        <p class="col-sm-4 my-1 fw-bold">Power Supply</p>
                        <p class="col-sm-8 my-1 word-wrap-break">{{ post.power_supply }}</p>
                    </li>
                    <li class="d-flex flex-column flex-sm-row justify-content-between list-group-item list-group-item-light">
                        <p class="col-sm-4 my-1 fw-bold">Operating System</p>
                        <p class="col-sm-8 my-1 word-wrap-break">{{ post.operating_system }}</p>
                    </li>
                    <li class="d-flex flex-column flex-sm-row justify-content-between list-group-item">
                        <p class="col-sm-4 my-1 fw-bold">Additional Parts</p>
                        <p class="col-sm-8 my-1 word-wrap-break">{{ post.additional_parts }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col-10 mx-auto justify-content-start">
        {% if user.is_superuser %}
        {% if post.featured_post %}
        <a class="btn btn btn-danger d-block" href="{% url 'feature_post' post.slug %}">Unfeature this post!</a>
        {% else %}
        <a class="btn btn btn-success d-block" href="{% url 'feature_post' post.slug %}">Feature this post!</a>
        {% endif %}
        {% endif %}
        </div>
    </div>
    

    <!-- Comment Form (if logged in) -->
    {% if awaiting_approval %}
    <div class="row">
        <div class="col-md-10 mx-auto alert alert-success">
            Your comment is awaiting approval
        </div>
    </div>
    
    {% else %}
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-10 mx-auto my-3">
            <h3>Leave a comment:</h3>
            <form method="post">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mt-3 float-end">Submit</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% endif %}

    <!-- Comments -->
    <div class="row">
        <div class="col-md-10 mx-auto">
            {% if user.is_superuser %}
            <div id="unapproved-comments" class="my-3">
                <h3>Comments For Review</h3>
                {% for comment in unapproved_comments %}
                <hr>
                <div class="comment bg-light rounded p-3">
                    <p class="d-inline fw-bold card-author">{{ comment.author }}</p>
                    <p class="d-inline fw-light"> wrote:</p>
                    <a class="btn btn-sm btn-success d-inline float-end ms-2" href="{% url 'approve_comment' comment.id %}#unapproved-comments">Approve</a>
                    {% if user.id == comment.author.id %}
                    <a class="btn btn-sm btn-danger d-inline float-end" href="{% url 'delete_comment' comment.id %}">Delete</a>
                    {% endif %}
                    <p >{{ comment.body | linebreaks }}</p>
                </div>
                {% empty %}
                <hr>
                <div class="comment bg-light rounded p-3 mb-3">
                    <h4 class="text-center my-3 py-2 rounded bg-light">No comments awaiting approval!</h4>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <h3>Comments</h3>
            <hr>
            <div id="comments">
                {% for comment in comments %}
                <div class="comment bg-light rounded p-3">
                    <p class="d-inline fw-bold card-author">{{ comment.author }}</p>
                    <p class="d-inline fw-light"> wrote:</p>
                    {% if user.id == comment.author.id %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-sm btn-danger d-inline float-end" data-bs-toggle="modal" data-bs-target="#deleteCommentModal">
                        Delete
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="deleteCommentModalLabel">Are you sure you want to delete this comment?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            This action cannot be undone.
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a class="btn btn-danger" href="{% url 'delete_comment' comment.id %}">DELETE</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    {% endif %}
                    <p >{{ comment.body | linebreaks }}</p>
                </div>
                <hr>
                {% empty %}
                <div class="comment bg-light rounded p-3 mb-3">
                    <h4 class="text-center my-3 py-2 rounded bg-light">No comments yet!</h4>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}